/*.table-container {
    margin: 0 auto;
    margin-top:20px;
    width: 80%; /* Eller den procentandel/bredd du föredrar */
/*
    overflow-x: auto; /* Lägger till scroll om innehållet är bredare än containern */
/*
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
*/
/*Github*/
.table-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transition: all 0.3s;
    animation-name: popup;
    animation-duration: 1.1s;
  }
  table {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(#6bd3e1, white);
    box-shadow: 20px 20px 50px rgb(80, 80, 80);
   
  }
  .table-container th, td{
    border: 1px solid #ddd;
    padding: 10px 20px;
  }
  .table-container th{
    background: linear-gradient(#6bd3e1, white);
  }
  
  @keyframes popup{
    from{
        transform: translateY(150%);
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .table-container {
      width: 100%;
    }
    .table-container table {
      width: 100%;
    }
    .table-container th, .table-container td {
      padding: 10px; 
    }
  }